
//Font sizes used all over the application
html { // to make 1 rem = 10px
  font-size: 10px;
}
.p-max {
  font-size: 2.6rem;
  line-height: 3rem;
}
.p-normal {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.p-medium {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
