$primary-color: #ffffff;
$secondary-color: #0d2535;
$ash-color: #86929a;




//breakpoints for devices
// Large tablets and desktops
$desktop: 1200px;
// Small tablets (portrait view)
$tablet: 768px;
// Small tablets and large smartphones (landscape view)
$phone: 340px;
