@import "_mixins";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; //font family from google fonts

body {
  font-family: "Apple SD Gothic Neo";
}
.wrapper {
  display: flex;
  align-items: stretch;
}
.nav-sidebar-wrapper {
    min-height: 100vh;
    width: 25rem;
    padding: 1rem;
    &.hide {
      display: none;
    }
  .side-menu {
    display: flex;
    justify-content: space-between;
    transform: rotate(0deg);
    cursor: pointer;
    &.collapsed {
      img {
        transform: rotate(180deg);
      }
    }
  }
  .border-ash {
    border-bottom: 1px solid $ash-color;
    margin-bottom: 2rem;
  }
}
.font-ash {
  color: $ash-color;
}
.header-section-wrapper {
  .inner-container {
    span {
      margin-left: 4.5rem;
    }
  }
}
.custom-btn {
  border: 0;
  background: black;
  width: 35px;
  height: 35px;
}





